opencv-python
numpy
pandas
openpyxl
matplotlib
easyocr
yt-dlp
requests
openai-whisper
torch
torchvision
Pillow
PyYAML
tqdm
torch
torchvision
Pillow
PyYAML
tqdm
ipython
seaborn
psutil
thop
google-genai
ollama